@model SongStorm.ViewModels.SidebarVM

    <div id="sidebarBody" class="bg-light pb-5">

        <div>
            <h3>The best stuff</h3>
            <small>Click added item to remove</small>
        </div>

        <div id="ideasFW" class="sidebarBlank hidden">
            <h4>Words</h4>
        </div>

        <div id="ideasSM" class="sidebarBlank hidden">
            <h4>Simile &#38; Metaphor</h4>
        </div>

        <div id="ideasI" class="sidebarBlank hidden">
            <h4>Imagery</h4>
        </div>

        <div id="ideasO" class="sidebarBlank hidden">
            <h4>Other</h4>
        </div>

    </div>